body {
  background-image: url(images/home.png);
  background-repeat: no-repeat;
}

h1 {
  margin: 120px 20px 10px 270px;
  background: url(images/yaktrak.png) no-repeat;
  width: 276px;
  height: 181px;
}

h2 {
  color: #E0E094;
  padding: 180px 0 0;
  font-size: 18px;
  font-weight: normal;
  text-shadow: 1px 1px 0 black;
}

#new_tracking {
  margin: 0 0 0 50px;
  position: relative;
  clear: both;
}

#yak {
  position: absolute;
  top: -55px;
  left: 0;
}

#new_tracking label {
  margin: 0 0 0 238px;
  position: relative;
  top: -5px;
  font-size: 14px;
}

#tracking_package_identifier {
  margin: 0 0 0 200px;
}

#new_tracking p#help {
  margin: 0 0 0 238px;
  font-size: 13px;
  color: #99afb7;
}

#new_tracking p#help a {
  color: #c9d1d3;
}
