body {
  background-image: url(images/home.png);
  background-repeat: no-repeat;
}

h1 {
  margin: 120px 20px 10px 255px;
  background: url(images/yaktrak.png) no-repeat;
  width: 276px;
  height: 181px;
}

h2 {
  color: #E0E094;
  padding: 180px 0 0;
  font-size: 18px;
  font-weight: normal;
  text-shadow: 1px 1px 0 black;
  position: relative;
  left: -263px;
  bottom: -65px;
}

#new_tracking {
  margin: 0 0 0 50px;
  position: relative;
  clear: both;
}

#yak {
  position: absolute;
  top: -55px;
  left: 0;
}

#new_tracking label {
  margin: 0 0 0 238px;
  position: relative;
  top: -5px;
  font-size: 16px;
  color: #c9d1d3;
  text-shadow: 1px 1px 0 #455559;
}

#tracking_package_identifier {
  margin: 0 0 0 200px;
}

#new_tracking p#help, #new_tracking p.tronprint-footprint, p.tronprint-link {
  margin: 0 0 0 238px;
  font-size: 13px;
  color: #99afb7;
  text-shadow: 1px 1px 0 #455559;
}

#new_tracking p#help a, #new_tracking p.tronprint-footprint a, p.tronprint-link a {
  color: #c9d1d3;
}
