body {
  background: #455559 url(images/home.png) no-repeat;
}

h1 {
  text-indent: -9999px;
  margin: 120px 20px 10px 270px;
  background: url(images/yaktrak.png) no-repeat;
  width: 276px;
  height: 181px;
  float: left;
}

h2 {
  color: #E0E094;
  padding: 180px 0 0;
  font-size: 18px;
  font-weight: normal;
  text-shadow: 1px 1px 0 black;
}

#new_tracking {
  margin: 0 0 0 50px;
  position: relative;
  clear: both;
}

#yak {
  position: absolute;
  top: -55px;
  left: 0;
}

#new_tracking label {
  margin: 0 0 0 238px;
  position: relative;
  top: -5px;
  font-size: 14px;
}

#tracking_package_identifier {
  margin: 0 0 0 200px;
  font-size: 36px;
  padding: 3px;  
  text-indent: 30px;
  border-width: 1px;
  border-color: #60757C;
  border-style: outset;
  width: 430px;
}

#new_tracking input[type=submit] {
  font-size: 18px;
  padding: 14px 20px 13px;
  border-width: 1px;
  border-color: #60757C;
  position: relative;
  top: -6px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  background: #C9D1D3;
  text-shadow: 1px 1px 0 white;
  outline: none;
}

#new_tracking p#help {
  margin: 0 0 0 238px;
  font-size: 13px;
  color: #99afb7;
}

#new_tracking p#help a {
  color: #c9d1d3;
}
