
@font-face {
  font-family: 'Brighter Planet';
  src: asset-url('KievitWebPro.eot', font);
  src: local('☺'), asset-url("KievitWebPro.woff", font) format("woff"), asset-url("KievitOT-Regular.otf", font) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: asset-url('KievitWebPro-Bold.eot', font);
  src: local('☺'), asset-url("KievitWebPro-Bold.woff", font) format("woff"), asset-url("KievitOT-Bold.otf", font) format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Brighter Planet';
  src: asset-url('KievitWebPro-BoldIta.eot', font);
  src: local('☺'), asset-url("KievitWebPro-BoldIta.woff", font) format("woff"), asset-url("KievitOT-BoldItalic.otf", font) format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Brighter Planet';
  src: asset-url('KievitWebPro-Ita.eot', font);
  src: local('☺'), asset-url("KievitWebPro-Ita.woff", font) format("woff"), asset-url("KievitOT-Italic.otf", font) format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: asset-url('DejaVuSansMono.eot', font);
  src: local('☺'), asset-url("DejaVuSansMono.ttf", font) format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'DejaVu Mono';
  src: asset-url('DejaVuSansMono-Oblique.eot', font);
  src: local('☺'), asset-url("DejaVuSansMono-Oblique.ttf", font) format("opentype");
  font-weight: normal;
  font-style: italic;
}

/* ---------- */

body {
  margin: 0;
  background-color: #455559;
}

a:focus, input:focus, button:focus {
  outline: none;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: none;
}

body, input, select, button {
  font-family: "Brighter Planet", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, dt, dd {
  margin: 0;
  padding: 0;
}

pre, kbd {
  font-family: "DejaVu Mono", monospace;
}

sub {
  vertical-align: baseline;
  font-size: smaller;
  position: relative;
  bottom: -5px;
}

h1.yaktrak {
  text-indent: -9999px;
  background-repeat: no-repeat;
  float: left;
}

#tracking_package_identifier {
  font-size: 36px;
  padding: 3px;  
  text-indent: 30px;
  border-width: 1px;
  border-color: #60757C;
  border-style: outset;
  width: 430px;
}

#new_tracking input[type=submit] {
  font-size: 18px;
  padding: 14px 20px 13px;
  border-width: 1px;
  border-color: #60757C;
  position: relative;
  top: -6px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomright: 10px;
  background: #C9D1D3;
  text-shadow: 1px 1px 0 white;
  outline: none;
}

#new_tracking label a {
  color: #99AFB7;
}

.brighter_planet_cm1_badge {
  margin: 0 0 10px 0;
}

#new_tracking .brighter_planet_cm1_badge {
  margin: 10px 0 0 237px;
}
