<% @bodyclass = :home; @title = 'Yaktrak · FedEx package tracking—now with CO2!' %>
<%= content_for :head do %>
<%= stylesheet_link_tag 'home' %>
<% end %>

<h1 class="yaktrak">Yaktrak</h1>
<h2>FedEx® package tracking&mdash;<i>now with CO₂!</i></h2>
<%= render :partial => 'form', :locals => { :tracking => @tracking } %>

<%= content_for :bottom do %>
<script type="text/javascript">
document.observe('dom:loaded', function() {
    $('tracking_package_identifier').focus();
});
</script>
<% end %>
